*{
    background-color: #4b4;
    color: #555;
}
footer{
    margin-top: 50px;
    background-color: antiquewhite;
    color: black;
    text-align: center;
}
.section{
    text-align: center;
}
.pre{
    text-align: auto;
}
